video {
    width: 100%;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    z-index: 2;
}

body.dark-mode video {
    border: 2px solid #61ebd0;
}
.video-container {
    position: relative;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.title-overlay {
    margin-top: 10px;
    font-size: 24px;
    color: white;
    text-align: center;
}



