nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
    display: flex;
    flex: 1 0 280;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.scrolling {
    background-color: white;
}

body.dark-mode nav.scrolling {
    background-color: black;
}

.nav-items-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    min-height: 100%;

}

.nav-desktop .nav-item {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    width: 100px;
    font-weight: bold;
    padding-top: 75px;
    color: black;
}

.nav-mobile .nav-item {

    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    color: black;
}

body.dark-mode .nav-item {
    color: #61ebd0;
}

.nav-item:hover {
    background-color: rgba(14, 12, 12, 0.472);
    border-bottom: 2px #ffffff solid;
    color: white;
}

body.dark-mode .nav-item:hover {
    border-bottom: 2px #61ebd0 solid;
}

.nav-desktop {
    display: block;
}

.nav-mobile {
    display: none;
}

.menu-icon {
    width: 50px;
}

.menu-button {
    background-color: transparent;
    border: none;
}

.logo {
    width: 75px;
    border-radius: 50%;
    background-color: black;
}

body.dark-mode .logo {
    width: 75px;
    border-radius: 50%;
    background-color: #61ebd0;
}

.theme-button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50%;
}

.theme-img {
    width: 50px;
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 100px;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 10;
}

body.dark-mode .menu-overlay {
    background-color: black;
}

.menu-content {
    padding: 20px;
}

.menu-overlay.active {
    display: block;
    transition: right 0.5s ease;
    right: 0;
}

@media (max-width: 1024px) {
    #logo {
        order: 1;
        margin-left: 10px;
    }

    #theme {
        order: 2;
    }

    #menu {
        order: 3;
        margin-right: 10px;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: block;
    }
}