@import url('nav.css');
@import url('footer.css');
@import url('projetos.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(135deg, #F7ECD2, #FFC700);
    transition: background-color 0.5s ease-in-out;
    color: black;
    
}

body.dark-mode {
    background-image: linear-gradient(135deg, #0c1c2c, #347e6f);
    color: #61ebd0;
}

.container
{
    margin: 0 auto;
    min-height: 100vh;
    width: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .container
    {
        width: 100%;
    }
}

